body {
  background-color: rgb(77, 153, 127);
}

#timer-area {
  background-color: rgb(59, 59, 59);
  border-radius: 20px;
  max-width: 400px;
}

#settings-area {
  background-color: rgb(59, 59, 59);
  border-radius: 20px;
  max-width: 400px;
}

.btn-active {
  background-color: whitesmoke;
  color: black;
  border-width: 0;
}

.btn-default {
  background-color: transparent;
  border: solid 1px white;
}

.white-text {
  color: white;
}

/* Modal styling */

.modal-content {
  border-radius: 20px;
  background-color: rgb(59, 59, 59);
  color: white;
}

#settingsModal {
  --bs-modal-width: 402px;
}

/* Modal - Sub setting area */
.settings-area {
  background-color: rgb(75, 75, 75);
  border-radius: 12px;
}

/* Color Picker ------------------------------- */

.color-setting {
  display: flex;
  align-items: center;
  gap: 12px;
}

.color-label {
  font-size: 14px;
  white-space: nowrap;
}

/* Hide the native input */
#favcolor,
#favcolor-canvas {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

/* Visible circle */
.color-picker {
  display: inline-block;
  cursor: pointer;
}

.color-button {
  display: block;
  width: 48px;
  height: 22px;
  border-radius: 11px;
  background-color: #005d9b;
  border: 1px solid #ccc;
}

/* Up to 320px width (small phones) */
@media (max-width: 425px) {
  .btn.btn-primary {
    font-size: 10px;
  }

  #settings-area {
    font-size: 10px;
  }
}
