body {
  background-color: rgb(77, 153, 127);
}

#timer-area {
  background-color: rgb(59, 59, 59);
  border-radius: 20px;
  max-width: 400px;
}

#settings-area {
  background-color: rgb(59, 59, 59);
  border-radius: 20px;
  max-width: 400px;
}

.btn-active {
  background-color: whitesmoke;
  color: black;
  border-width: 0;
}

.btn-default {
  background-color: transparent;
  border: solid 1px white;
}

.white-text {
  color: white;
}

/* Modal styling */

.modal-content {
  border-radius: 20px;
  background-color: rgb(59, 59, 59);
  color: white;
}

#settingsModal {
  --bs-modal-width: 402px;
}

/* Color Picker */

.color-wrapper {
  position: relative;
  display: inline-block;
}

#favcolor {
  position: absolute;
  opacity: 0;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.color-button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: #ff0000;
}

/* Up to 320px width (small phones) */
@media (max-width: 425px) {
  .btn.btn-primary {
    font-size: 10px;
  }

  #settings-area {
    font-size: 10px;
  }
}
